aniso8601
certifi
charset-normalizer
click
colorama
Flask
Flask-RESTful
Flask-SQLAlchemy
greenlet
hvac
idna
itsdangerous
Jinja2
MarkupSafe
mysql
mysql-connector-python
mysqlclient
protobuf
PyMySQL
pytz
requests
six
SQLAlchemy
urllib3
Werkzeug
watchtower

